
.btn-div {
    padding: 30px;
}

.center-div {
    position: absolute;
    width: 100%;
    text-align: center;
}

.author {
    text-align: right;
    margin: 10px 0px;
}

.next {
    font-size: small;
    padding: 5px;
    border-radius: 5px;
    color: black
}

a.next:hover {
    text-decoration: none;
    color: black;
}

.social-icons {
    margin-right: 10px;
}

.quote {
    font-size: larger;
}
